/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#right{
     width: 50%;
    height: 80%;   
}

#left{
    width: 50%;
    height: 80%;    
}

#instSelect{
    width: 95%;
    height: 500px;
}

#resultsarea{
     width: 95%;
    height: 500px;   
}