/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#right{
     width: 50%;
    height: 500px;   
}

#left{
    width: 50%;
    height: 500px;    
}

#originalcodearea{
    width: 95%;
    height: 500px;
}

#instcodearea{
     width: 95%;
    height: 500px;   
}